// Variables
$primary-color: #e94e77;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body base
body {
  font-family: sans-serif;
  background-color: #dcdcdc;
  color: #222;
}

// Link styling
a {
  color: $primary-color;
  text-decoration: none;
}

main {
  margin-top: 150px;
  z-index: 1;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: gray;
}
.hero {
  background-color: #fff;
  text-align: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  .left {
    background-color: red;
    height: 100%;
    width: 50%;
  }
  .right {
    background-color: blue;
    width: 50%;
    height: 100%;
  }
  @media (max-width: 768px) {
    display: block;
    height: 100%;
    .left {
      min-width: 100%;
      background-color: rgb(249, 147, 147);
    }
    .right {
      min-width: 100%;
      background-color: rgb(20, 180, 103);
    }
  }
}
.container {
  max-width: 80%;    
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;    
  margin: 0 auto;
}
.benefits {
  display: flex;
  height: 25vh;
  .left { 
    background-color: red;
    height: 100%;
    width: 30%;
  }
  .right {
    background-color: blue;
    width: 70%;
    height: 100%;
  }
  @media (max-width: 768px) {
    display: block;
    height: 100%;
    .left {
      min-width: 100%;
      background-color: rgb(249, 147, 147);
    }
    .right {
      min-width: 100%;
      background-color: rgb(20, 180, 103);
    }
  }
}
.benefits:nth-child(2) {
  display: flex;
  height: 25vh;
  .left { 
    background-color: green;
    height: 100%;
    width: 70%;
  }
  .right {
    background-color: yellow;
    width: 30%;
    height: 100%;
  }
  @media (max-width: 768px) {
    display: block;
    height: 100%;
    .left {
      min-width: 100%;
      background-color: rgb(249, 147, 147);
    }
    .right {
      min-width: 100%;
      background-color: rgb(20, 180, 103);
    }
  }
}
